.tableFeedback {
    display: flex;
    flex-direction: column;
}
.tableFeedbackHeader {
    text-align: center;
}
.tableFeedbackItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tableFeedbackHeaderHide {
    visibility: hidden;
}
